body {
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    
}



.outer{
    margin: auto;
    height: 300px;
    width: 400px;
    border: 2px solid black;
    position: relative;
    margin-top: 30vh;
    margin-left: 70vh;
}
p{ 
    margin-left:80px; 
} 
.in{ 
    margin-left:80px; 
    padding:10px 
} 
#bt{ 
    margin-top:20px; 
    position:absolute; 
    left:150px; 
} 
#bt:hover{ 
    background:green; 
    font-size:13px; 
    cursor:pointer; 
    color:white; 
}